@{
    ViewBag.Title = "Home Page";
}

<body class="BG-IMG">
    <div class="jumbotron">
        <h1>Portland Coffee Sippas</h1>
        <p class="lead">Coffee Sippas is a premium online cafe, purchase website access to become a sippa and have access to menu modification and much more!.</p>
    </div>
</body>



